{% extends 'base.html' %}
{% load cart_filters %}

{% block content %}
    <h1>Checkout</h1>
    <ul>
        {% for item in cart_items %}
        <li>
            {{ item.flower.name }} - {{ item.quantity }} x ${{ item.flower.price }} = ${{ item.total_price }}
        </li>
        {% endfor %}
    </ul>
    <p>Total: ${{ total }}</p>
    <form action="{% url 'order_confirmation' %}" method="post">
        {% csrf_token %}
        <button type="submit">Confirm Order</button>
    </form>
{% endblock %}